@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 500px;
    margin: 20px auto;
}

.white-text {
    color: white !important;
}

.white-text * {
    color: white !important;
}